<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="css/bootstrap.css" />
</head>
<body>
<tr th:each="emps:${emp}">
    <td th:text="${emps.empName}"></td>
    <span></span>
    <td th:text="${emps.empInfo}"></td>
    <td th:text="${emps.orderNum<emps.empMaxorder}?'可预约':'不可预约'"></td>
    <td><a th:text="预约" th:href="@{'/orders/addOrders?empId='+${emps.empName}}"></a></td>
</tr>
</body>
</html>