<!DOCTYPE html>
<html lang="en"  xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" th:href="${'/css/bootstrap.css'}" />
</head>
<body>
<br /><br /><br />
<div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-7"><img th:src="${'/images/logo.png'}" /></div>
    <div class="col-md-1"><a th:href="">医院廉政标语</a></div>
    <div class="col-md-4"><font color="#ff7f50">但愿世人无疾病，宁可架上药生尘</font></div>
</div>
<div>
    1、行医遵医德，做人守人格。

    2、救死扶伤，仁义为怀，医精德诚，廉洁在心。

    3、端正行风，服务经济，一心为民。

    4、反腐倡廉预防为主，群众监督警钟长鸣。

    5、敬廉崇俭，反腐治奢。

    6、为民、务实、勤奋、清廉。

    7、学习启迪心智，学习净化思想，学习陶冶情操，学习升华境界。

    8、廉洁行医，为党为民为病患；德艺双馨，利己利人利苍生。

    9、智者，以别人惨痛的教训警示自己；愚者，用自己沉重的代价唤醒别人。

    10、强化政风行风建设，改善经济发展环境。

    11、贪如火，不遏则燎原；欲如水，不遏则滔天。

    12、水美不在深，而在清澈；人美不在貌，而在廉洁。

    13、以拒收红包为荣，以收受红包为耻。

    14、从严治党，从严治院，严明纪律，严明责任。

    15、廉洁行医，医者潮流，顺之则昌，逆之则亡。

    16、创无红包医院，欢迎社会监督。

    17、生命在我手中，责任重于泰山。

    18、挡不住红包回扣的诱惑，将失去明天的幸福。

    19、廉洁从政、廉洁行医、以廉为荣、以贪为耻、诚信服务。

    20、树叶离开枝头是腐烂的开始，行医不守医德是堕落的开端。

    21、薪薄薪厚皆为百姓血汗，位卑位尊同是人间天使。

    22、以廉做人，以廉做事，以廉为乐，以廉为福。

    23、依法执业，廉洁行医。

    24、加大纠风工作力度，切实保护群众利益。

    25、伸出的是手，得到的是钱，透支的是人格，失去的是人心。

    26、反腐倡廉牢记服务宗旨，科技兴院发扬奉献精神。

    27、尊重患者，尊重医务人员，共建和谐医患关系。

    28、人道神圣，岂容贪欲玷污；医德崇高，要靠廉洁维护。

    29、强化民主监督，推行院务公开。

    30、依法行医，依法就医，依法化解医患矛盾纠纷。

    31、深入开展反腐倡廉教育，筑牢拒腐防变思想防线。

    32、加强廉政建设，打造百姓放心医院。

    33、反腐倡廉，发展经济，文明和谐，振兴云梦。

    34、事能知足心常惬，人到无求品自高。

    35、顺境勿骄逆勿沉做堂堂正正人，平境勿庸浊勿乱行廉廉洁洁医。

    36、廉洁行医始能一身正气，为民服务堪称人间天使。

    37、树正气、讲团结、求发展。

    38、为人民服务应视名利淡如水，与健康同行须知事业重于山。

    39、行医以德为先，服务以诚为本。

    40、砺操行以修德业，当自重；甘淡泊以守清贫，当自省；谋善举以泽众生，当自励。

    41、动摇理想信念，必然迷失方向；追求骄奢浮华，终将身败名裂。

    42、树立正确的世界观、人生观、权力观、政绩观。

    43、塘中偏有自洁莲，一尘不染；世上本无后悔药，三思而行。

    44、忠事勤业，乐群利民；淡泊名利，平常人生。

    45、廉洁自律三个我：从我做起，对我监督，向我看齐。

    46、廉政一生，律己一世；志存高远，明月照心。

    47、深入开展反腐败斗争，为经济建设保驾护航。

    48、勤善是立身之本；勤俭是立家之本；勤勉是立足之本；勤廉是立德之本。

    49、反腐倡廉，执政为民，端正行风，以民为本。

    50、权力是个宝，监督少不了；腐败易变质，信仰不动摇。
</div>
</body>
</html>