<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bank.dao.ServiceCommitMapper">
  <resultMap id="BaseResultMap" type="com.bank.pojo.ServiceCommit">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="service_type" jdbcType="VARCHAR" property="serviceType" />
    <result column="service_customer" jdbcType="VARCHAR" property="serviceCustomer" />
    <result column="service_card" jdbcType="VARCHAR" property="serviceCard" />
    <result column="service_use" jdbcType="VARCHAR" property="serviceUse" />
    <result column="service_phone" jdbcType="VARCHAR" property="servicePhone" />
    <result column="service_date" jdbcType="TIMESTAMP" property="serviceDate" />
    <result column="service_desc" jdbcType="VARCHAR" property="serviceDesc" />
    <result column="service_price" jdbcType="FLOAT" property="servicePrice" />
    <result column="service_status" jdbcType="INTEGER" property="serviceStatus"/>
    <result column="service_emp" jdbcType="INTEGER" property="serviceEmp"/>
  </resultMap>
  <sql id="base">
    id,service_type,service_customer,service_card,service_use,service_phone,service_date,service_desc,service_price,service_status,service_emp
  </sql>

  <insert id="insert" parameterType="com.bank.pojo.ServiceCommit">
    insert into service_commit (id, service_type, service_customer, 
      service_card, service_use, service_phone, 
      service_date, service_desc,service_price)
    values (#{id,jdbcType=INTEGER}, #{serviceType,jdbcType=VARCHAR}, #{serviceCustomer,jdbcType=VARCHAR}, 
      #{serviceCard,jdbcType=VARCHAR}, #{serviceUse,jdbcType=VARCHAR}, #{servicePhone,jdbcType=VARCHAR}, 
      #{serviceDate,jdbcType=TIMESTAMP}, #{serviceDesc,jdbcType=VARCHAR},#{servicePrice})
  </insert>
  <select id="selectAllByStatus" resultMap="BaseResultMap" parameterType="int">
    SELECT <include refid="base" />
    from service_commit where service_status=1
  </select>
  <update id="updateService" parameterType="com.bank.pojo.ServiceCommit">
    UPDATE service_commit set service_status=#{serviceStatus},service_emp=#{serviceEmp} where id=#{id}
  </update>

  <select id="selectServiceCommit" parameterType="string" resultMap="BaseResultMap">
    select <include refid="base" />
    from service_commit where service_customer=#{serviceCustomer}
  </select>
  <select id="selectLoan" resultMap="BaseResultMap" >
    select <include refid="base" />
    from service_commit where service_type like concat(concat('%','贷款'),'%')

  </select>
</mapper>