<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bank.dao.ServiceCommitMapper">
  <resultMap id="BaseResultMap" type="com.bank.pojo.ServiceCommit">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="service_type" jdbcType="VARCHAR" property="serviceType" />
    <result column="service_customer" jdbcType="VARCHAR" property="serviceCustomer" />
    <result column="service_card" jdbcType="VARCHAR" property="serviceCard" />
    <result column="service_use" jdbcType="VARCHAR" property="serviceUse" />
    <result column="service_phone" jdbcType="VARCHAR" property="servicePhone" />
    <result column="service_date" jdbcType="TIMESTAMP" property="serviceDate" />
    <result column="service_desc" jdbcType="VARCHAR" property="serviceDesc" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, service_type, service_customer, service_card, service_use, service_phone, service_date, 
    service_desc
  </sql>
  <select id="selectByExample" parameterType="com.bank.pojo.ServiceCommitExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from service_commit
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from service_commit
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from service_commit
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.bank.pojo.ServiceCommitExample">
    delete from service_commit
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.bank.pojo.ServiceCommit">
    insert into service_commit (id, service_type, service_customer, 
      service_card, service_use, service_phone, 
      service_date, service_desc)
    values (#{id,jdbcType=INTEGER}, #{serviceType,jdbcType=VARCHAR}, #{serviceCustomer,jdbcType=VARCHAR}, 
      #{serviceCard,jdbcType=VARCHAR}, #{serviceUse,jdbcType=VARCHAR}, #{servicePhone,jdbcType=VARCHAR}, 
      #{serviceDate,jdbcType=TIMESTAMP}, #{serviceDesc,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.bank.pojo.ServiceCommit">
    insert into service_commit
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="serviceType != null">
        service_type,
      </if>
      <if test="serviceCustomer != null">
        service_customer,
      </if>
      <if test="serviceCard != null">
        service_card,
      </if>
      <if test="serviceUse != null">
        service_use,
      </if>
      <if test="servicePhone != null">
        service_phone,
      </if>
      <if test="serviceDate != null">
        service_date,
      </if>
      <if test="serviceDesc != null">
        service_desc,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="serviceType != null">
        #{serviceType,jdbcType=VARCHAR},
      </if>
      <if test="serviceCustomer != null">
        #{serviceCustomer,jdbcType=VARCHAR},
      </if>
      <if test="serviceCard != null">
        #{serviceCard,jdbcType=VARCHAR},
      </if>
      <if test="serviceUse != null">
        #{serviceUse,jdbcType=VARCHAR},
      </if>
      <if test="servicePhone != null">
        #{servicePhone,jdbcType=VARCHAR},
      </if>
      <if test="serviceDate != null">
        #{serviceDate,jdbcType=TIMESTAMP},
      </if>
      <if test="serviceDesc != null">
        #{serviceDesc,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.bank.pojo.ServiceCommitExample" resultType="java.lang.Long">
    select count(*) from service_commit
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update service_commit
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.serviceType != null">
        service_type = #{record.serviceType,jdbcType=VARCHAR},
      </if>
      <if test="record.serviceCustomer != null">
        service_customer = #{record.serviceCustomer,jdbcType=VARCHAR},
      </if>
      <if test="record.serviceCard != null">
        service_card = #{record.serviceCard,jdbcType=VARCHAR},
      </if>
      <if test="record.serviceUse != null">
        service_use = #{record.serviceUse,jdbcType=VARCHAR},
      </if>
      <if test="record.servicePhone != null">
        service_phone = #{record.servicePhone,jdbcType=VARCHAR},
      </if>
      <if test="record.serviceDate != null">
        service_date = #{record.serviceDate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.serviceDesc != null">
        service_desc = #{record.serviceDesc,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update service_commit
    set id = #{record.id,jdbcType=INTEGER},
      service_type = #{record.serviceType,jdbcType=VARCHAR},
      service_customer = #{record.serviceCustomer,jdbcType=VARCHAR},
      service_card = #{record.serviceCard,jdbcType=VARCHAR},
      service_use = #{record.serviceUse,jdbcType=VARCHAR},
      service_phone = #{record.servicePhone,jdbcType=VARCHAR},
      service_date = #{record.serviceDate,jdbcType=TIMESTAMP},
      service_desc = #{record.serviceDesc,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.bank.pojo.ServiceCommit">
    update service_commit
    <set>
      <if test="serviceType != null">
        service_type = #{serviceType,jdbcType=VARCHAR},
      </if>
      <if test="serviceCustomer != null">
        service_customer = #{serviceCustomer,jdbcType=VARCHAR},
      </if>
      <if test="serviceCard != null">
        service_card = #{serviceCard,jdbcType=VARCHAR},
      </if>
      <if test="serviceUse != null">
        service_use = #{serviceUse,jdbcType=VARCHAR},
      </if>
      <if test="servicePhone != null">
        service_phone = #{servicePhone,jdbcType=VARCHAR},
      </if>
      <if test="serviceDate != null">
        service_date = #{serviceDate,jdbcType=TIMESTAMP},
      </if>
      <if test="serviceDesc != null">
        service_desc = #{serviceDesc,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.bank.pojo.ServiceCommit">
    update service_commit
    set service_type = #{serviceType,jdbcType=VARCHAR},
      service_customer = #{serviceCustomer,jdbcType=VARCHAR},
      service_card = #{serviceCard,jdbcType=VARCHAR},
      service_use = #{serviceUse,jdbcType=VARCHAR},
      service_phone = #{servicePhone,jdbcType=VARCHAR},
      service_date = #{serviceDate,jdbcType=TIMESTAMP},
      service_desc = #{serviceDesc,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>