<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bank.dao.StreamlineMapper">
  <resultMap id="BaseResultMap" type="com.bank.pojo.Streamline">
    <id column="STREAMLINE_ID" jdbcType="INTEGER" property="streamlineId" />
    <result column="STREAMLINE_NAME" jdbcType="VARCHAR" property="streamlineName" />
    <result column="CHECK_EMPID" jdbcType="INTEGER" property="checkEmpid" />
    <result column="STREAMLINE_DATE" jdbcType="DATE" property="streamlineDate" />
    <result column="STREAMLINE_INFO" jdbcType="VARCHAR" property="streamlineInfo" />
    <result column="STREAMLINE_RESULT" jdbcType="VARCHAR" property="streamlineResult" />
    <result column="LAST_ID" jdbcType="INTEGER" property="lastId" />
    <result column="NEXT_EMPID" jdbcType="INTEGER" property="nextEmpid" />
    <result column="STREAMLINE_OTHER" jdbcType="VARCHAR" property="streamlineOther" />
  </resultMap>
  <resultMap id="myResultMap" type="streamline" extends="BaseResultMap">
    <association property="emp" javaType="emp">
      <id column="EMP_ID" jdbcType="INTEGER" property="empId" />
      <result column="ROLE_ID" jdbcType="INTEGER" property="roleId" />
      <result column="EMP_NAME" jdbcType="VARCHAR" property="empName" />
    </association>
  </resultMap>
  <select id="selectBystask" resultMap="myResultMap" parameterType="string">
    select <include refid="Base_Column_List"></include> ,emp_name,role_id
    from streamline s left join  emp e on e.emp_id=s.check_empid where streamline_other=#{taskId}
  </select>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    STREAMLINE_ID, STREAMLINE_NAME, CHECK_EMPID, STREAMLINE_DATE, STREAMLINE_INFO, STREAMLINE_RESULT, 
    LAST_ID, NEXT_EMPID, STREAMLINE_OTHER
  </sql>
  <select id="selectByExample" parameterType="com.bank.pojo.StreamlineExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from streamline
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from streamline
    where STREAMLINE_ID = #{streamlineId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from streamline
    where STREAMLINE_ID = #{streamlineId,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.bank.pojo.StreamlineExample">
    delete from streamline
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.bank.pojo.Streamline">
    insert into streamline (STREAMLINE_ID, STREAMLINE_NAME, CHECK_EMPID, 
      STREAMLINE_DATE, STREAMLINE_INFO, STREAMLINE_RESULT, 
      LAST_ID, NEXT_EMPID, STREAMLINE_OTHER
      )
    values (#{streamlineId,jdbcType=INTEGER}, #{streamlineName,jdbcType=VARCHAR}, #{checkEmpid,jdbcType=INTEGER}, 
      #{streamlineDate,jdbcType=DATE}, #{streamlineInfo,jdbcType=VARCHAR}, #{streamlineResult,jdbcType=VARCHAR}, 
      #{lastId,jdbcType=INTEGER}, #{nextEmpid,jdbcType=INTEGER}, #{streamlineOther,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.bank.pojo.Streamline">
    insert into streamline
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="streamlineId != null">
        STREAMLINE_ID,
      </if>
      <if test="streamlineName != null">
        STREAMLINE_NAME,
      </if>
      <if test="checkEmpid != null">
        CHECK_EMPID,
      </if>
      <if test="streamlineDate == null">
        STREAMLINE_DATE,
      </if>
      <if test="streamlineInfo != null">
        STREAMLINE_INFO,
      </if>
      <if test="streamlineResult != null">
        STREAMLINE_RESULT,
      </if>
      <if test="lastId != null">
        LAST_ID,
      </if>
      <if test="nextEmpid != null">
        NEXT_EMPID,
      </if>
      <if test="streamlineOther != null">
        STREAMLINE_OTHER,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="streamlineId != null">
        #{streamlineId,jdbcType=INTEGER},
      </if>
      <if test="streamlineName != null">
        #{streamlineName,jdbcType=VARCHAR},
      </if>
      <if test="checkEmpid != null">
        #{checkEmpid,jdbcType=INTEGER},
      </if>
      <if test="streamlineDate == null">
       sysdate(),
      </if>
      <if test="streamlineInfo != null">
        #{streamlineInfo,jdbcType=VARCHAR},
      </if>
      <if test="streamlineResult != null">
        #{streamlineResult,jdbcType=VARCHAR},
      </if>
      <if test="lastId != null">
        #{lastId,jdbcType=INTEGER},
      </if>
      <if test="nextEmpid != null">
        #{nextEmpid,jdbcType=INTEGER},
      </if>
      <if test="streamlineOther != null">
        #{streamlineOther,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.bank.pojo.StreamlineExample" resultType="java.lang.Long">
    select count(*) from streamline
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update streamline
    <set>
      <if test="record.streamlineId != null">
        STREAMLINE_ID = #{record.streamlineId,jdbcType=INTEGER},
      </if>
      <if test="record.streamlineName != null">
        STREAMLINE_NAME = #{record.streamlineName,jdbcType=VARCHAR},
      </if>
      <if test="record.checkEmpid != null">
        CHECK_EMPID = #{record.checkEmpid,jdbcType=INTEGER},
      </if>
      <if test="record.streamlineDate != null">
        STREAMLINE_DATE = #{record.streamlineDate,jdbcType=DATE},
      </if>
      <if test="record.streamlineInfo != null">
        STREAMLINE_INFO = #{record.streamlineInfo,jdbcType=VARCHAR},
      </if>
      <if test="record.streamlineResult != null">
        STREAMLINE_RESULT = #{record.streamlineResult,jdbcType=VARCHAR},
      </if>
      <if test="record.lastId != null">
        LAST_ID = #{record.lastId,jdbcType=INTEGER},
      </if>
      <if test="record.nextEmpid != null">
        NEXT_EMPID = #{record.nextEmpid,jdbcType=INTEGER},
      </if>
      <if test="record.streamlineOther != null">
        STREAMLINE_OTHER = #{record.streamlineOther,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update streamline
    set STREAMLINE_ID = #{record.streamlineId,jdbcType=INTEGER},
      STREAMLINE_NAME = #{record.streamlineName,jdbcType=VARCHAR},
      CHECK_EMPID = #{record.checkEmpid,jdbcType=INTEGER},
      STREAMLINE_DATE = #{record.streamlineDate,jdbcType=DATE},
      STREAMLINE_INFO = #{record.streamlineInfo,jdbcType=VARCHAR},
      STREAMLINE_RESULT = #{record.streamlineResult,jdbcType=VARCHAR},
      LAST_ID = #{record.lastId,jdbcType=INTEGER},
      NEXT_EMPID = #{record.nextEmpid,jdbcType=INTEGER},
      STREAMLINE_OTHER = #{record.streamlineOther,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.bank.pojo.Streamline">
    update streamline
    <set>
      <if test="streamlineName != null">
        STREAMLINE_NAME = #{streamlineName,jdbcType=VARCHAR},
      </if>
      <if test="checkEmpid != null">
        CHECK_EMPID = #{checkEmpid,jdbcType=INTEGER},
      </if>
      <if test="streamlineDate != null">
        STREAMLINE_DATE = #{streamlineDate,jdbcType=DATE},
      </if>
      <if test="streamlineInfo != null">
        STREAMLINE_INFO = #{streamlineInfo,jdbcType=VARCHAR},
      </if>
      <if test="streamlineResult != null">
        STREAMLINE_RESULT = #{streamlineResult,jdbcType=VARCHAR},
      </if>
      <if test="lastId != null">
        LAST_ID = #{lastId,jdbcType=INTEGER},
      </if>
      <if test="nextEmpid != null">
        NEXT_EMPID = #{nextEmpid,jdbcType=INTEGER},
      </if>
      <if test="streamlineOther != null">
        STREAMLINE_OTHER = #{streamlineOther,jdbcType=VARCHAR},
      </if>
    </set>
    where STREAMLINE_ID = #{streamlineId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.bank.pojo.Streamline">
    update streamline
    set STREAMLINE_NAME = #{streamlineName,jdbcType=VARCHAR},
      CHECK_EMPID = #{checkEmpid,jdbcType=INTEGER},
      STREAMLINE_DATE = #{streamlineDate,jdbcType=DATE},
      STREAMLINE_INFO = #{streamlineInfo,jdbcType=VARCHAR},
      STREAMLINE_RESULT = #{streamlineResult,jdbcType=VARCHAR},
      LAST_ID = #{lastId,jdbcType=INTEGER},
      NEXT_EMPID = #{nextEmpid,jdbcType=INTEGER},
      STREAMLINE_OTHER = #{streamlineOther,jdbcType=VARCHAR}
    where STREAMLINE_ID = #{streamlineId,jdbcType=INTEGER}
  </update>
</mapper>