<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bank.dao.TasksMapper">
  <resultMap id="BaseResultMap" type="com.bank.pojo.Tasks">
    <id column="TASK_ID" jdbcType="VARCHAR" property="taskId" />
    <result column="TASK_EMPID" jdbcType="INTEGER" property="taskEmpid" />
    <result column="TASK_DATE" jdbcType="DATE" property="taskDate" />
    <result column="TASK_TITLE" jdbcType="VARCHAR" property="taskTitle" />
    <result column="TASK_INFO" jdbcType="VARCHAR" property="taskInfo" />
    <result column="TASK_RESULT" jdbcType="VARCHAR" property="taskResult" />
    <result column="TASK_OTHER" jdbcType="VARCHAR" property="taskOther" />
  </resultMap>
  <resultMap id="myResultMap" type="tasks" extends="BaseResultMap">
    <association property="emp" javaType="emp">
      <id column="EMP_ID" jdbcType="INTEGER" property="empId" />
      <result column="EMP_NAME" jdbcType="VARCHAR" property="empName" />
    </association>
    <collection property="streamline" javaType="list" ofType="streamline" >
      <id column="STREAMLINE_ID" jdbcType="INTEGER" property="streamlineId" />
      <result column="STREAMLINE_NAME" jdbcType="VARCHAR" property="streamlineName" />
      <result column="CHECK_EMPID" jdbcType="INTEGER" property="checkEmpid" />
      <result column="STREAMLINE_DATE" jdbcType="DATE" property="streamlineDate" />
      <result column="STREAMLINE_INFO" jdbcType="VARCHAR" property="streamlineInfo" />
      <result column="STREAMLINE_RESULT" jdbcType="VARCHAR" property="streamlineResult" />
      <result column="LAST_ID" jdbcType="INTEGER" property="lastId" />
      <result column="NEXT_EMPID" jdbcType="INTEGER" property="nextEmpid" />
      <result column="STREAMLINE_OTHER" jdbcType="VARCHAR" property="streamlineOther" />
    </collection>
  </resultMap>
  <select id="selectBymap"  parameterType="map" resultMap="myResultMap">
    select  distinct
    <include refid="Base_Column_List" />   STREAMLINE_ID, STREAMLINE_NAME, CHECK_EMPID, STREAMLINE_DATE, STREAMLINE_INFO, STREAMLINE_RESULT,
    LAST_ID, NEXT_EMPID, STREAMLINE_OTHER,emp_name
    from tasks t left join  streamline s on s.streamline_other=t.task_id left join emp e on e.emp_id=task_empid
    <where>
      <if test="taskEmpid !=null">
        task_empid=#{taskEmpid}
      </if> <if test="checkEmpid !=null">
      check_empid=#{checkEmpid}
      </if><if test="nextEmpid !=null">
        next_empid=#{nextEmpid}
      </if><if test="taskId !=null">
       task_id=#{task_id}
      </if>
    </where>
  </select>

  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    TASK_ID, TASK_EMPID, TASK_DATE, TASK_TITLE, TASK_INFO, TASK_RESULT, TASK_OTHER
  </sql>
  <select id="selectByExample" parameterType="com.bank.pojo.TasksExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from tasks
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from tasks
    where TASK_ID = #{taskId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from tasks
    where TASK_ID = #{taskId,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.bank.pojo.TasksExample">
    delete from tasks
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.bank.pojo.Tasks">
    insert into tasks (TASK_ID, TASK_EMPID, TASK_DATE, 
      TASK_TITLE, TASK_INFO, TASK_RESULT, 
      TASK_OTHER)
    values (#{taskId,jdbcType=VARCHAR}, #{taskEmpid,jdbcType=INTEGER}, #{taskDate,jdbcType=DATE}, 
      #{taskTitle,jdbcType=VARCHAR}, #{taskInfo,jdbcType=VARCHAR}, #{taskResult,jdbcType=VARCHAR}, 
      #{taskOther,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.bank.pojo.Tasks">
    insert into tasks
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="taskId != null">
        TASK_ID,
      </if>
      <if test="taskEmpid != null">
        TASK_EMPID,
      </if>
      <if test="taskDate != null">
        TASK_DATE,
      </if>
      <if test="taskTitle != null">
        TASK_TITLE,
      </if>
      <if test="taskInfo != null">
        TASK_INFO,
      </if>
      <if test="taskResult != null">
        TASK_RESULT,
      </if>
      <if test="taskOther != null">
        TASK_OTHER,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="taskId != null">
        #{taskId,jdbcType=VARCHAR},
      </if>
      <if test="taskEmpid != null">
        #{taskEmpid,jdbcType=INTEGER},
      </if>
      <if test="taskDate != null">
        #{taskDate,jdbcType=DATE},
      </if>
      <if test="taskTitle != null">
        #{taskTitle,jdbcType=VARCHAR},
      </if>
      <if test="taskInfo != null">
        #{taskInfo,jdbcType=VARCHAR},
      </if>
      <if test="taskResult != null">
        #{taskResult,jdbcType=VARCHAR},
      </if>
      <if test="taskOther != null">
        #{taskOther,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.bank.pojo.TasksExample" resultType="java.lang.Long">
    select count(*) from tasks
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update tasks
    <set>
      <if test="record.taskId != null">
        TASK_ID = #{record.taskId,jdbcType=VARCHAR},
      </if>
      <if test="record.taskEmpid != null">
        TASK_EMPID = #{record.taskEmpid,jdbcType=INTEGER},
      </if>
      <if test="record.taskDate != null">
        TASK_DATE = #{record.taskDate,jdbcType=DATE},
      </if>
      <if test="record.taskTitle != null">
        TASK_TITLE = #{record.taskTitle,jdbcType=VARCHAR},
      </if>
      <if test="record.taskInfo != null">
        TASK_INFO = #{record.taskInfo,jdbcType=VARCHAR},
      </if>
      <if test="record.taskResult != null">
        TASK_RESULT = #{record.taskResult,jdbcType=VARCHAR},
      </if>
      <if test="record.taskOther != null">
        TASK_OTHER = #{record.taskOther,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update tasks
    set TASK_ID = #{record.taskId,jdbcType=VARCHAR},
      TASK_EMPID = #{record.taskEmpid,jdbcType=INTEGER},
      TASK_DATE = #{record.taskDate,jdbcType=DATE},
      TASK_TITLE = #{record.taskTitle,jdbcType=VARCHAR},
      TASK_INFO = #{record.taskInfo,jdbcType=VARCHAR},
      TASK_RESULT = #{record.taskResult,jdbcType=VARCHAR},
      TASK_OTHER = #{record.taskOther,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.bank.pojo.Tasks">
    update tasks
    <set>
      <if test="taskEmpid != null">
        TASK_EMPID = #{taskEmpid,jdbcType=INTEGER},
      </if>
      <if test="taskDate != null">
        TASK_DATE = #{taskDate,jdbcType=DATE},
      </if>
      <if test="taskTitle != null">
        TASK_TITLE = #{taskTitle,jdbcType=VARCHAR},
      </if>
      <if test="taskInfo != null">
        TASK_INFO = #{taskInfo,jdbcType=VARCHAR},
      </if>
      <if test="taskResult != null">
        TASK_RESULT = #{taskResult,jdbcType=VARCHAR},
      </if>
      <if test="taskOther != null">
        TASK_OTHER = #{taskOther,jdbcType=VARCHAR},
      </if>
    </set>
    where TASK_ID = #{taskId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.bank.pojo.Tasks">
    update tasks
    set TASK_EMPID = #{taskEmpid,jdbcType=INTEGER},
      TASK_DATE = #{taskDate,jdbcType=DATE},
      TASK_TITLE = #{taskTitle,jdbcType=VARCHAR},
      TASK_INFO = #{taskInfo,jdbcType=VARCHAR},
      TASK_RESULT = #{taskResult,jdbcType=VARCHAR},
      TASK_OTHER = #{taskOther,jdbcType=VARCHAR}
    where TASK_ID = #{taskId,jdbcType=VARCHAR}
  </update>
</mapper>