<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	   xmlns:context="http://www.springframework.org/schema/context"
	   xmlns:dubbo="http://code.alibabatech.com/schema/dubbo"
	   xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.3.xsd http://code.alibabatech.com/schema/dubbo http://code.alibabatech.com/schema/dubbo/dubbo.xsd">

	<context:component-scan base-package="com.bank.dubbo"/>
	<!--加载资源文件  -->
	<context:property-placeholder location="classpath:res/*.properties"/>
	<!--配置dubbo服务调用者  -->

	<!--引用dubbo服务-->
	<dubbo:application name="dubbo-portal"/>

	<dubbo:registry protocol="zookeeper" address="zookeeper://10.12.153.62:2181"/>


	<!--从dubbo中引用原来有rest提供的服务，交由spring管理   -->
	<!--测试dubbo模块-->
	<dubbo:reference id="hello" interface="com.bank.dubbo.Hello"/>

	<!--提供数据字典的接口-->
	<dubbo:reference id="dict" interface="com.bank.dubbo.dictService"/>
	<!--提供任务的接口-->
	<dubbo:reference id="task" interface="com.bank.dubbo.taskService"/>
	<!--提供任务流程线的接口-->
	<dubbo:reference id="streamline" interface="com.bank.dubbo.streamlineService"/>
	<!--提供员工服务模块的接口-->
	<dubbo:reference interface="com.bank.dubbo.empService" id="emps"/>
</beans>
