<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:dubbo="http://code.alibabatech.com/schema/dubbo" xmlns:duboo="http://code.alibabatech.com/schema/dubbo"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.3.xsd
		http://code.alibabatech.com/schema/dubbo http://code.alibabatech.com/schema/dubbo/dubbo.xsd">

    <!--扫描service的实现类-->
    <context:component-scan base-package="com.hospital.dubbo_service"/>
    <!-- 配置dubbo服务提供者的注册 -->
    <!-- 配置服务的应用名 -->
    <dubbo:application name="dubbo-content-service"/>

    <!--<dubbo:registry address="zookeeper://10.12.153.62:2181"/>-->
    <dubbo:registry address="zookeeper://120.79.32.91:2181"/>
    <dubbo:protocol name="dubbo" port="28080"/>
    <!-- 对外暴露的服务接口 -->

    <!--测试服务 ref为实现类首字母小写-->


    <dubbo:service interface="com.hospital.dubbo.DeptService" ref="deptServiceImpl" timeout="3000"/>
    <dubbo:service interface="com.hospital.dubbo.EmpService" ref="empServiceImpl" timeout="3000"/>
    <dubbo:service interface="com.hospital.dubbo.OrdersService" ref="ordersServiceImpl" timeout="3000"/>
    <dubbo:service interface="com.hospital.dubbo.MedicineService" ref="medicineServiceImpl" timeout="3000"/>
    <dubbo:service interface="com.hospital.dubbo.SolrService" ref="solrServiceImpl" timeout="3000" />
    <dubbo:service interface="com.hospital.dubbo.MenuService" ref="menuServiceImpl" timeout="3000" />
    <dubbo:service interface="com.hospital.dubbo.EmpInfoService" ref="empInfoServiceImpl" timeout="3000" />


</beans>
