<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bank.dao.LoanMapper">
  <resultMap id="BaseResultMap" type="com.bank.pojo.Loan">
    <id column="LOAN_ID" jdbcType="INTEGER" property="loanId" />
    <result column="CUSTOMER_ID" jdbcType="VARCHAR" property="customerId" />
    <result column="LOAN_AMOUNT" jdbcType="INTEGER" property="loanAmount" />
    <result column="LOAN_CARD_ID" jdbcType="CHAR" property="loanCardId" />
    <result column="LOAN_TERM" jdbcType="INTEGER" property="loanTerm" />
    <result column="LOAN_RATE" jdbcType="INTEGER" property="loanRate" />
    <result column="LOAN_GUARANTOR" jdbcType="VARCHAR" property="loanGuarantor" />
    <result column="LOAN_MORTGAGE" jdbcType="VARCHAR" property="loanMortgage" />
    <result column="MORTGAGE_VALUE" jdbcType="REAL" property="mortgageValue" />
    <result column="ACCOUNT_ID" jdbcType="INTEGER" property="accountId" />
    <result column="LOAN_BANK_ID" jdbcType="VARCHAR" property="loanBankId" />
    <result column="LOAN_DATE" jdbcType="DATE" property="loanDate" />
    <result column="LOAN_PROCESS" jdbcType="VARCHAR" property="loanProcess" />
    <result column="LOAN_OTHER" jdbcType="VARCHAR" property="loanOther" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    LOAN_ID, CUSTOMER_ID, LOAN_AMOUNT, LOAN_CARD_ID, LOAN_TERM, LOAN_RATE, LOAN_GUARANTOR, 
    LOAN_MORTGAGE, MORTGAGE_VALUE, ACCOUNT_ID, LOAN_BANK_ID, LOAN_DATE, LOAN_PROCESS, 
    LOAN_OTHER
  </sql>
  <select id="selectByExample" parameterType="com.bank.pojo.LoanExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from loan
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from loan
    where LOAN_ID = #{loanId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from loan
    where LOAN_ID = #{loanId,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.bank.pojo.LoanExample">
    delete from loan
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.bank.pojo.Loan">
    insert into loan (LOAN_ID, CUSTOMER_ID, LOAN_AMOUNT, 
      LOAN_CARD_ID, LOAN_TERM, LOAN_RATE, 
      LOAN_GUARANTOR, LOAN_MORTGAGE, MORTGAGE_VALUE, 
      ACCOUNT_ID, LOAN_BANK_ID, LOAN_DATE, 
      LOAN_PROCESS, LOAN_OTHER)
    values (#{loanId,jdbcType=INTEGER}, #{customerId,jdbcType=VARCHAR}, #{loanAmount,jdbcType=INTEGER}, 
      #{loanCardId,jdbcType=CHAR}, #{loanTerm,jdbcType=INTEGER}, #{loanRate,jdbcType=INTEGER}, 
      #{loanGuarantor,jdbcType=VARCHAR}, #{loanMortgage,jdbcType=VARCHAR}, #{mortgageValue,jdbcType=REAL}, 
      #{accountId,jdbcType=INTEGER}, #{loanBankId,jdbcType=VARCHAR}, #{loanDate,jdbcType=DATE}, 
      #{loanProcess,jdbcType=VARCHAR}, #{loanOther,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.bank.pojo.Loan">
    insert into loan
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="loanId != null">
        LOAN_ID,
      </if>
      <if test="customerId != null">
        CUSTOMER_ID,
      </if>
      <if test="loanAmount != null">
        LOAN_AMOUNT,
      </if>
      <if test="loanCardId != null">
        LOAN_CARD_ID,
      </if>
      <if test="loanTerm != null">
        LOAN_TERM,
      </if>
      <if test="loanRate != null">
        LOAN_RATE,
      </if>
      <if test="loanGuarantor != null">
        LOAN_GUARANTOR,
      </if>
      <if test="loanMortgage != null">
        LOAN_MORTGAGE,
      </if>
      <if test="mortgageValue != null">
        MORTGAGE_VALUE,
      </if>
      <if test="accountId != null">
        ACCOUNT_ID,
      </if>
      <if test="loanBankId != null">
        LOAN_BANK_ID,
      </if>
      <if test="loanDate != null">
        LOAN_DATE,
      </if>
      <if test="loanProcess != null">
        LOAN_PROCESS,
      </if>
      <if test="loanOther != null">
        LOAN_OTHER,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="loanId != null">
        #{loanId,jdbcType=INTEGER},
      </if>
      <if test="customerId != null">
        #{customerId,jdbcType=VARCHAR},
      </if>
      <if test="loanAmount != null">
        #{loanAmount,jdbcType=INTEGER},
      </if>
      <if test="loanCardId != null">
        #{loanCardId,jdbcType=CHAR},
      </if>
      <if test="loanTerm != null">
        #{loanTerm,jdbcType=INTEGER},
      </if>
      <if test="loanRate != null">
        #{loanRate,jdbcType=INTEGER},
      </if>
      <if test="loanGuarantor != null">
        #{loanGuarantor,jdbcType=VARCHAR},
      </if>
      <if test="loanMortgage != null">
        #{loanMortgage,jdbcType=VARCHAR},
      </if>
      <if test="mortgageValue != null">
        #{mortgageValue,jdbcType=REAL},
      </if>
      <if test="accountId != null">
        #{accountId,jdbcType=INTEGER},
      </if>
      <if test="loanBankId != null">
        #{loanBankId,jdbcType=VARCHAR},
      </if>
      <if test="loanDate != null">
        #{loanDate,jdbcType=DATE},
      </if>
      <if test="loanProcess != null">
        #{loanProcess,jdbcType=VARCHAR},
      </if>
      <if test="loanOther != null">
        #{loanOther,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.bank.pojo.LoanExample" resultType="java.lang.Long">
    select count(*) from loan
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update loan
    <set>
      <if test="record.loanId != null">
        LOAN_ID = #{record.loanId,jdbcType=INTEGER},
      </if>
      <if test="record.customerId != null">
        CUSTOMER_ID = #{record.customerId,jdbcType=VARCHAR},
      </if>
      <if test="record.loanAmount != null">
        LOAN_AMOUNT = #{record.loanAmount,jdbcType=INTEGER},
      </if>
      <if test="record.loanCardId != null">
        LOAN_CARD_ID = #{record.loanCardId,jdbcType=CHAR},
      </if>
      <if test="record.loanTerm != null">
        LOAN_TERM = #{record.loanTerm,jdbcType=INTEGER},
      </if>
      <if test="record.loanRate != null">
        LOAN_RATE = #{record.loanRate,jdbcType=INTEGER},
      </if>
      <if test="record.loanGuarantor != null">
        LOAN_GUARANTOR = #{record.loanGuarantor,jdbcType=VARCHAR},
      </if>
      <if test="record.loanMortgage != null">
        LOAN_MORTGAGE = #{record.loanMortgage,jdbcType=VARCHAR},
      </if>
      <if test="record.mortgageValue != null">
        MORTGAGE_VALUE = #{record.mortgageValue,jdbcType=REAL},
      </if>
      <if test="record.accountId != null">
        ACCOUNT_ID = #{record.accountId,jdbcType=INTEGER},
      </if>
      <if test="record.loanBankId != null">
        LOAN_BANK_ID = #{record.loanBankId,jdbcType=VARCHAR},
      </if>
      <if test="record.loanDate != null">
        LOAN_DATE = #{record.loanDate,jdbcType=DATE},
      </if>
      <if test="record.loanProcess != null">
        LOAN_PROCESS = #{record.loanProcess,jdbcType=VARCHAR},
      </if>
      <if test="record.loanOther != null">
        LOAN_OTHER = #{record.loanOther,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update loan
    set LOAN_ID = #{record.loanId,jdbcType=INTEGER},
      CUSTOMER_ID = #{record.customerId,jdbcType=VARCHAR},
      LOAN_AMOUNT = #{record.loanAmount,jdbcType=INTEGER},
      LOAN_CARD_ID = #{record.loanCardId,jdbcType=CHAR},
      LOAN_TERM = #{record.loanTerm,jdbcType=INTEGER},
      LOAN_RATE = #{record.loanRate,jdbcType=INTEGER},
      LOAN_GUARANTOR = #{record.loanGuarantor,jdbcType=VARCHAR},
      LOAN_MORTGAGE = #{record.loanMortgage,jdbcType=VARCHAR},
      MORTGAGE_VALUE = #{record.mortgageValue,jdbcType=REAL},
      ACCOUNT_ID = #{record.accountId,jdbcType=INTEGER},
      LOAN_BANK_ID = #{record.loanBankId,jdbcType=VARCHAR},
      LOAN_DATE = #{record.loanDate,jdbcType=DATE},
      LOAN_PROCESS = #{record.loanProcess,jdbcType=VARCHAR},
      LOAN_OTHER = #{record.loanOther,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.bank.pojo.Loan">
    update loan
    <set>
      <if test="customerId != null">
        CUSTOMER_ID = #{customerId,jdbcType=VARCHAR},
      </if>
      <if test="loanAmount != null">
        LOAN_AMOUNT = #{loanAmount,jdbcType=INTEGER},
      </if>
      <if test="loanCardId != null">
        LOAN_CARD_ID = #{loanCardId,jdbcType=CHAR},
      </if>
      <if test="loanTerm != null">
        LOAN_TERM = #{loanTerm,jdbcType=INTEGER},
      </if>
      <if test="loanRate != null">
        LOAN_RATE = #{loanRate,jdbcType=INTEGER},
      </if>
      <if test="loanGuarantor != null">
        LOAN_GUARANTOR = #{loanGuarantor,jdbcType=VARCHAR},
      </if>
      <if test="loanMortgage != null">
        LOAN_MORTGAGE = #{loanMortgage,jdbcType=VARCHAR},
      </if>
      <if test="mortgageValue != null">
        MORTGAGE_VALUE = #{mortgageValue,jdbcType=REAL},
      </if>
      <if test="accountId != null">
        ACCOUNT_ID = #{accountId,jdbcType=INTEGER},
      </if>
      <if test="loanBankId != null">
        LOAN_BANK_ID = #{loanBankId,jdbcType=VARCHAR},
      </if>
      <if test="loanDate != null">
        LOAN_DATE = #{loanDate,jdbcType=DATE},
      </if>
      <if test="loanProcess != null">
        LOAN_PROCESS = #{loanProcess,jdbcType=VARCHAR},
      </if>
      <if test="loanOther != null">
        LOAN_OTHER = #{loanOther,jdbcType=VARCHAR},
      </if>
    </set>
    where LOAN_ID = #{loanId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.bank.pojo.Loan">
    update loan
    set CUSTOMER_ID = #{customerId,jdbcType=VARCHAR},
      LOAN_AMOUNT = #{loanAmount,jdbcType=INTEGER},
      LOAN_CARD_ID = #{loanCardId,jdbcType=CHAR},
      LOAN_TERM = #{loanTerm,jdbcType=INTEGER},
      LOAN_RATE = #{loanRate,jdbcType=INTEGER},
      LOAN_GUARANTOR = #{loanGuarantor,jdbcType=VARCHAR},
      LOAN_MORTGAGE = #{loanMortgage,jdbcType=VARCHAR},
      MORTGAGE_VALUE = #{mortgageValue,jdbcType=REAL},
      ACCOUNT_ID = #{accountId,jdbcType=INTEGER},
      LOAN_BANK_ID = #{loanBankId,jdbcType=VARCHAR},
      LOAN_DATE = #{loanDate,jdbcType=DATE},
      LOAN_PROCESS = #{loanProcess,jdbcType=VARCHAR},
      LOAN_OTHER = #{loanOther,jdbcType=VARCHAR}
    where LOAN_ID = #{loanId,jdbcType=INTEGER}
  </update>
</mapper>